{% extends "management/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Fuzzer Add</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            
            <div class="x_content">
              <br />
              <form method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fuzzer_name">Fuzzer Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="fuzzer_name" name="fuzzer_name" value="{{m_fuzzer.fuzzer_name}}" required="required" class="form-control col-md-7 col-xs-12"
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="app_name">App_Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="app_name" name="app_name" value="{{m_fuzzer.app_name}}" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="app_name">Build Script <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <small>Current File : <a href="{{m_fuzzer.build_script.url}}">{{m_fuzzer.build_script.name}}</a></small></br>
                    <input type="file" id="build_script" name="build_script" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-default" type="button" onclick = "location.href = '/fuzzer/list'">Cancel</button>
  		              <button class="btn btn-default" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}