<p> Issue list </p>
<table>
  <tr>
    <th>app_name</th>
    <th>app_version</th>
    <th>regression_version</th>
    <th>issuer</th>
    <th>confirmer</th>
    <th>issue_status</th>
    <th>report_time</th>
  </tr>
  {% for m_issue in m_issue_list %}
  <tr style="cursor:hand;" onclick="location.href='/issue/modify/{{m_issue.id}}'">
    <td>{{m_issue.app_name}}</td>
    <td>{{m_issue.app_version}}</td>
    <td>{{m_issue.regression_version}}</td>
    <td>{{m_issue.issuer}}</td>
    <td>{{m_issue.confirmer}}</td>
    <td>{{m_issue.issue_status}}</td>
    <td>{{m_issue.report_time}}</td>
  </tr>
  {% endfor %}
</table>