<p> Issue View </p>
<table>
  <tr>
    <th>App Name</th>
    <th>App Version</th>
    <th>Regression Version</th>
    <th>issuer</th>
    <th>confirmer</th>
    <th>issue_status</th>
    <th>poc_file</th>
    <th>report_file</th>
    <th>report_time</th>
    <th>Regression Search</th>
  </tr>
  <tr>
    <td>{{m_issue.app_name}}</td>
    <td>{{m_issue.app_version}}</td>
    <td>{{m_issue.regression_version}}</td>
    <td>{{m_issue.issuer}}</td>
    <td>{{m_issue.confirmer}}</td>
    <td>{{m_issue.issue_status}}</td>
    <td><a href={{m_issue.poc_file.url}} download>{{m_issue.poc_file.name}}</a></td>
    <td><a href={{m_issue.report_file.url}} download>{{m_issue.report_file.name}}</a></td>
    <td>{{m_issue.report_time}}</td>
    <td>
      <form action="/manage/request_command" method="POST" style="float:left">
        {% csrf_token %}
        <input type="select" name="server_id" value="{{m_crash.fuzz_server.id}}"> 
        <input type="hidden" name="issue_id" value="{{m_issue.id}}"> 
        <select name="fuzzer_name" id="id_fuzzer_name" style="float:left">
        {% for m_fuzz_server in m_fuzz_server_list %}
          <option value={{m_fuzz_server.id}}>{{m_fuzz_server.server_name}}</option>
        {% endfor %}
        <input type="hidden" name="type" value="issue">
        <input type="hidden" name="command" value="regression">
        <input type="submit" name="regression" value="Regression Search">
      </form>
    </td>
  </tr>
</table>