{% extends "management/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Server Modify</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            
            <div class="x_content">
              <br />
              <form method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="server_name">Server Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="server_name" name="server_name" value="{{m_fuzz_server.server_name}}" required="required" class="form-control col-md-7 col-xs-12"
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="server_ip">Server IP <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="server_ip" name="server_ip" value="{{m_fuzz_server.server_ip}}" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fuzzer_name">Fuzzer Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="fuzzer_name" name="fuzzer_name" class="form-control col-md-7 col-xs-12">
                      {% for fuzzer in fuzzers %} 
                      {% if fuzzer.fuzzer_name is m_fuzz_server.fuzzer.fuzzer_name %}
                        <option value="{{fuzzer.id}} selected">{{fuzzer.fuzzer_name}}</option>
                      {% else %}
                        <option value="{{fuzzer.id}} selected">{{fuzzer.fuzzer_name}}</option>
                      {% endif %}
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fuzz_target">Target App <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="fuzz_target" name="fuzz_target" value="{{m_fuzz_server.fuzz_target}}" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fuzz_version">Version <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="fuzz_version" name="fuzz_version" value="{{m_fuzz_server.fuzz_version}}" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-default" type="button" onclick = "location.href = '/server/list'">Cancel</button>
  		              <button class="btn btn-default" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}