<p> Crash list </p>
<table>
  <tr>
    <th>FuzzName</th>
    <th>FuzzIP</th>
    <th>TargetApp</th>
    <th>Version</th>
    <th>crash_dump</th>
    <th>input_data</th>
    <th>report_time</th>
  </tr>
  {% for mcrash in mcrash_lists %}
  <tr>
    <td>{{mcrash.fuzz_server.fuzz_name}}</td>
    <td>{{mcrash.fuzz_server.fuzz_ip}}</td>
    <td>{{mcrash.fuzz_server.fuzz_target}}</td>
    <td>{{mcrash.fuzz_server.fuzz_version}}</td>
    <td><a href={{mcrash.crash_dump}} download> crash dump </a></td>
    <td><a href={{mcrash.input_data}} download> input data </a></td>
    <td>{{mcrash.report_time}}</td>
  </tr>
  {% endfor %}
</table>
