<p> Fuzzer list </p>

    fuzzer_name = models.CharField(max_length=100, unique=True)
    app_name = models.CharField(max_length=100)
    build_script = models.FileField(upload_to="build_script", blank=True)


<table>
  <tr>
    <th>FuzzerName</th>
    <th>TargetApp</th>
    <th>BuildScript</th>
  </tr>
  {% for mfuzzer in m_fuzzers %}
  <tr style="cursor:hand;" onclick="location.href='/server/modify/{{mfuzzer.id}}'">
    <td>{{mfuzzer.fuzzer_name}}</td>
    <td>{{mfuzzer.app_name}}</td>
    <td><a href={{mfuzzer.BuildScript.url}} download>{{mfuzzer.BuildScript.name}}</a></td>
  </tr>
  {% endfor %}
</table>
