<p> Request Command list </p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{command_form.as_p}}
  <button type="submit">Request</button>
</form>

<table>
  <tr>
    <th>fuzz_name</th>
    <th>command</th>
    <th>test_case</th>
    <th>request_time</th>
  </tr>
  {% for i in m_command %}
  <tr>
    <td>{{i.fuzz_server.fuzz_name}}</td>
    <td>{{i.command}}</td>
    <td><a href="{{i.test_case.url}}">{{i.test_case.name}}</a></td>
    <td>{{i.request_time}}    
  </tr>
  {% endfor %}
</table>
