<p> Server list </p>

<table>
  <tr>
    <th>FuzzName</th>
    <th>FuzzIP</th>
    <th>TargetApp</th>
    <th>Version</th>
    <th>WorkingStatus</th>
    <th>LastConnection</th>
    <th>ConnectionStatus</th>
    <th>Command</th>
  </tr>
  {% for mfuzz in mfuzz_server %}
  <tr>
    <td>{{mfuzz.fuzz_name}}</td>
    <td>{{mfuzz.fuzz_ip}}</td>
    <td>{{mfuzz.fuzz_target}}</td>
    <td>{{mfuzz.fuzz_version}}</td>

    {% if timedelay < mfuzz.last_working_time  %}
    <td>on</td>
    {% else %}
    <td>off</td>
    {% endif %}

    <td>{{mfuzz.last_connection_time}}</td>
    {% if timedelay < mfuzz.last_connection_time  %}
    <td>on</td>
    {% else %}
    <td>off</td>
    {% endif %}
    <td>
      <form action="/management/request_command" method="POST">
      {% csrf_token %}
        <input type="hidden" name="fuzz_name" value="{{mfuzz.fuzz_name}}"> 
        <input type="hidden" name="command" value="start">
        <input type="submit" name="start_button" value="start">
      </form>
    </td>
    <td>
      <form action="/management/request_command" method="POST">
      {% csrf_token %}
        <input type="hidden" name="fuzz_name" value="{{mfuzz.fuzz_name}}"> 
        <input type="hidden" name="command" value="stop">
        <input type="submit" name="stop_button" value="stop">
      </form>
    </td>
    <td>
      <form action="/management/request_command" method="POST">
      {% csrf_token %}
        <input type="hidden" name="fuzz_name" value="{{mfuzz.fuzz_name}}"> 
        <input type="hidden" name="command" value="reboot">
        <input type="submit" name="stop_button" value="reboot">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
